/* Footer */
.footer{
    background-color: #06121dff;
    font-family: 'Poppins', 'Times New Roman', Courier, monospace;;
    color: var(--primary-color);
    font-size: 75%;
    padding: 0px;
}
.footer .footer-col{
    height: auto;
    flex: 0 0 auto;
}

.footer img{
    width: 80%;
}
.footer-icon{
    font-size:1.2rem;
    color: var(--secondary-color);
    margin-right: 12px;
}
.disclaimer{
    background-color: #000000;
    color: #adadad;
    padding-top: 10px;
    padding-bottom: 10px;
}
@media (max-width: 576px) {
    .footer{
        font-size: 85%;
    }
    .disclaimer{
        font-size: 120%;
        padding-top: 30px;
        padding-bottom: 30px;
        line-height: 140%;
    }
    .footer-col .p-3 {
        /* Keep the content in center */
        width: 100%;
        max-width: 70%;
        margin: 0 auto;
      }
}